{% extends "wordofmouth/base.html" %}
{% block content %}
{% load socialaccount %}

<html>

<head>
    <title>Word of Mouth</title>
</head>

<body>
    <h1 class="display-4" style = "text-align:center">Word of Mouth</h1>
    <p class="lead" style = "text-align:center">The internet's top recipe sharing site.</p>
    <div class="container">
        <div class="col text-center">
            <a type="button" class="btn btn-primary" href="/wordofmouth/recipe_list">View All Recipes</a>
        </div>  
    </div>
    {% if not user.is_authenticated %}
    <br>
    <div class="container">
        <div class="col text-center">
            <a href="{% provider_login_url 'google' %}">Log in</a> to create, save, rate, and share your favorite recipes.
        </div>  
    </div>

    {% else %}
    <br>


    <div class="container">
        <div class="col text-center">
            <a type="button" class="btn btn-primary" href="{% url 'favorite_recipe_list' %}">View Saved Recipes</a>  
        </div>
    </div>

    <br>

    <div class="container">
        <div class="col text-center">
            <a type="button" class="btn btn-success" href="/wordofmouth">Create a Recipe</a>    
        </div>
    </div>

    <br>

    
    {% endif %}
</body>

</html>

{% endblock content %}