<html>

<head>
    <title>Word of Mouth</title>
</head>

<body>
    <h1>Word of Mouth</h1>
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }} !</p>

    {% else %}
    <h1>Word of Mouth</h1>
    {% endif %}

    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <div class="form-group">
                <input name="title" type="title" class="form-control form-control-lg" placeholder="Title">
            </div>
            <div class="form-group">
                <input name="text" type="text" class="form-control" placeholder="type your recipe">
            </div>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        </fieldset>
        <input class="btn btn-primary btn-lg" style="margin-top: 12px" type="submit" value="create">
    </form>
</body>

</html>