{% load static %} {% load socialaccount %}

<!DOCTYPE html>

<html lang="en" class="myhtml">
  <head>

    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Word of Mouth</title>

    <!-- https://css-tricks.com/emoji-as-a-favicon/ -->
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍔</text></svg>">

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
      integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="
      crossorigin="anonymous"
    />

    <style>
      .navbar {
        font-weight: 300;
      }
      .nav-link {
        color: white!important;
      }
      .navbar a {
        color: white!important;
      }
      .navbar-brand {
        background: #fff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 900;
        text-decoration: none;
      }
      .navbar-brand:hover {
        color: white;
        -webkit-background-clip: none;
        -webkit-text-fill-color: unset;
        transition:all .8s ease;
      }
      .burger {
        transition:all .8s ease;
      }
      .nav-link:hover{
        color: lightgray!important;
      }
    </style>

  </head>
  <body
    onload="buttons()"
    class="mybody"
    style="
      position: relative;
      padding-bottom: 58px;
      min-height: 100vh;
    "
  >
    <div id="my-body-content">
      <nav class="navbar navbar-expand-md navbar-dark relative-top bg-dark">
        <a class="navbar-brand" href="/">Word of Mouth <span class="burger">🍔</span></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/wordofmouth/recipe_list">All Recipes</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/wordofmouth">Create Recipe</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="/wordofmouth/user_recipe_list"
                >My Recipes</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'favorite_recipe_list' %}"
                >Saved Recipes</a
              >
            </li>
            {% endif %}
          </ul>

          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="" class="nav-link"
                >Hi, {{ user.username }}</a
              >
            </li>
            <li class="nav-item">
              <a href="{% url 'account_logout' %}" class="nav-link">Log out</a>
            </li>

            {% else %}
            <li>
              <a class="nav-link" href="{% provider_login_url 'google' %}"
                >Log in</a
              >
            </li>

            {% endif %}
          </ul>
          <div id="user-buttons" class="navbar-nav"></div>
        </div>
      </nav>
      <!-- <main role="main" class="container" style="margin: 0;padding: 0;"> -->
      {% if alert %}
      <div
        class="alert alert-primary alert-dismissible fade show mt-3"
        role="alert"
        style="width: 60%; margin: auto auto"
      >
        {{ alert }}
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
      
      <div class="center-container" style="margin: 1em 2em 1em 2em">
        {% block content %}
        {% endblock %}
      </div>
      
      
      <!-- </main> -->

      <div class="footer-spacer"></div>
      <!-- Footer -->
      <footer
        class="page-footer font-small pt-4 my-sticky-footer"
        style="position: absolute; bottom: 0; width: 100%;"
      >

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-light">
          © 2022 Copyright,
          <a style="color: lightgray; font-weight: 300" href="https://cs3240.cs.virginia.edu/"
            >UVA CS3240 Group A-10</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </div>
  </body>
</html>
