{% extends "wordofmouth/base.html" %}
{% load socialaccount %}
{% block content %}

<html>

<head>
    <title>Word of Mouth</title>
    <style>
        .error {
          color: red;
        }
        .file-upload-button {
            color: blue!important;
        }
        input[type="file"] {
            width: 100%;
        }
        .custom-file-upload {
            border: 1px solid #ccc;
            padding: 6px 12px;
            cursor: pointer;
        }
        .time-input {
            width: 48px;
            display: inline-block;
        }
        .form-label {
            display: block;
        }
        .time-group {
            display: inline-block;
        }
        .cook-time {
            margin-left: 32px;
        }
    </style>
    </head>

<body>
    <h1 class="display-4">Create a Recipe</h1>
    <p class="lead">Share a recipe with the Word of Mouth community.</p>
    {% if user.is_authenticated %}
    <form action="{% url 'create_recipe' %}" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <fieldset>
            <div class="form-group">
                <input name="title" type="title" class="form-control form-control-lg" placeholder="Title">
                {% if errors %}{% if "1" in errors %}<p class="error">Title cannot be blank</p>{% endif %}{% endif %}
            </div>
            <div class="form-group">
                <input name="ingredients" type="text" class="form-control" placeholder="Ingredients">
                {% if errors %}{% if "2" in errors %}<p class="error">Ingredients cannot be blank</p>{% endif %}{% endif %}
            </div>
            <div class="form-group">
                <input name="instructions" type="title" class="form-control" placeholder="Instructions">
                {% if errors %}{% if "3" in errors %}<p class="error">Instructions cannot be blank</p>{% endif %}{% endif %}
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Upload image</label>
                <div class="custom-file-upload">
                    <input required name="image" type="file" accept="image/*"/>
                </div>   
                {% if errors %}{% if "4" in errors %}<p class="error">Image did not upload</p>{% endif %}{% endif %}
            </div>
            <div class="form-group">
                <div class="time-group">
                    <label for="formFile" class="form-label">Prep Time</label>
                    <input name="prep-time" type="title" class="form-control time-input" placeholder="">
                    <select class="form-select" aria-label="Default select example">
                        <option value="minutes" selected>minutes</option>
                        <option value="hours">hours</option>
                    </select>
                </div>
                <div class="time-group cook-time">
                    <label for="formFile" class="form-label">Cook Time</label>
                    <input name="prep-time" type="title" class="form-control time-input" placeholder="">
                    <select class="form-select" aria-label="Default select example">
                        <option value="minutes" selected>minutes</option>
                        <option value="hours">hours</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="formFile" class="form-label">Tags</label>
                    <p>TODO</p>
                </div>
            </div>
        </fieldset>
    
        <input class="btn btn-primary btn-lg" type="submit" value="Create">
    
    </form>
    {% else %}
    <br>
    <div class="container">
        <div class="col text-center">
            You're currently not logged in.
        </div>  
        <br>
        <div class="col text-center">
            <a href="{% provider_login_url 'google' %}">Log in</a> to create, save, rate, and share your favorite recipes.
        </div>  
    </div>
    {% endif %}

</body>

</html>


{% endblock content%}