{% extends "wordofmouth/base.html" %} {% block content %}
<div>
  <h1 style="text-align: center">All Recipes</h1>
  <hr />
  <!-- grid code based off of https://gist.github.com/nix1947/c765513702e76b5b665d146a72307946 -->
  <div class="container">
    {% for recipe in recipe_list %} {% if forloop.counter0|divisibleby:3 %}
    <div class="row text-center">
      {% endif %}
      <div class="col-md-4" style="cursor: pointer">
        <div class="card">
          <div class="card-content">
            <br />
            <img
              src="{{ recipe.image_url }}"
              alt="Recipe URL"
              height="207"
              align="center"
              style="”padding: "
              20px
              20px
              20px
              20px”
            />
            <a href="{% url 'detail' recipe.id %}">
              <h3>{{ recipe.title }}</h3>
            </a>
            <p>by {{ recipe.added_by }}</p>
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:3 or forloop.last %}
    </div>
    <br />
    {% endif %} {% endfor %}
  </div>
</div>

{% endblock content%}
