{% extends "wordofmouth/base.html" %} {% block content %} {% load static %}
<head>
    <style>
        .recipe-card:hover {
            background-color: #f5f5f5;
        }
        .recipe-image {
            height: 207px;
            padding: 20px 20px 20px 20px;
            border: 1px solid #f5f5f5;
            background-color: white;
        }
    </style>
</head>

<body>
    <div>
        <h1 class="display-4">All Recipes</h1>
        <p class="lead">Recipes posted by Word of Mouth users.</p>
    <!-- grid code based off of https://gist.github.com/nix1947/c765513702e76b5b665d146a72307946 -->
    <div class="container">
        {% for recipe in recipe_list %} {% if forloop.counter0|divisibleby:3 %}
        <div class="row text-center">
        {% endif %}
        <div class="col-md-4">
            <a href="{% url 'detail' recipe.id %}"></a>
            <div class="recipe-card card">
            <div class="card-content" style="cursor: pointer">
                <br />
                <img
                class="recipe-image"
                src="{{ recipe.image_url }}"
                alt="Recipe URL"
                />
                <h3>{{ recipe.title }}</h3>
                
                <p>by {{ recipe.added_by }}</p>
            </div>
            </div>
            </a>
        </div>
        {% if forloop.counter|divisibleby:3 or forloop.last %}
        </div>
        <br />
        {% endif %} {% endfor %}
    </div>
    </div>
</body>

{% endblock content%}
